<%- include('templates/header') %>

<h2>Welcome to the Members Area, <%= name %>!</h2>
<p><a class="btn btn-secondary" href="/logout">Log Out</a></p>

<div class="row">
  <div class="col-md-4 mb-3">
    <img src="/images/1.jpg" class="img-fluid rounded" alt="Image 1">
  </div>
  <div class="col-md-4 mb-3">
    <img src="/images/2.jpg" class="img-fluid rounded" alt="Image 2">
  </div>
  <div class="col-md-4 mb-3">
    <img src="/images/3.jpg" class="img-fluid rounded" alt="Image 3">
  </div>
</div>

<%- include('templates/footer') %>
